
.imagenFondo{
    margin: 0;
    min-height: 100vh;
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(23,23,23,0.11528361344537819) 100%, rgba(0,212,255,1) 100%), url('../imagenes/Fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    box-sizing: border-box;
}



.caja-imagen{
    padding-top: 120px;
}

.fotoInfantil{
    border-radius: 40px;
    -webkit-box-shadow: 0px 0px 117px -3px rgba(2,48,78,1);
    -moz-box-shadow: 0px 0px 117px -3px rgba(2,48,78,1);
    box-shadow: 0px 0px 117px -3px rgba(2,48,78,1);
}

.info-nombre{
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: #fff;
    font-size: 30px;
    padding-top: 30px;
}

.info{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #fff;
    padding-top: 15px;
} 

.textSobremi{
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
}

.contenedorCard{
    text-align: center;
}

.infoCard{
    display: inline-block;
}


/* MEDIAS QUERYS */

@media (min-width: 300px){

    .info-nombre{
        font-family: 'Pacifico', cursive;
        text-align: center;
        font-size: 16px;
        color: #fff;
    }
    
    .info{
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        color: #fff;
        font-size: 15px;
    } 

}

@media (min-width: 576px) { 
     
    .info-nombre{
        font-family: 'Pacifico', cursive;
        text-align: center;
        font-size: 25px;
        color: #fff;
    }
    
    .info{
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        color: #fff;
        
        font-size: 20px;
    } 


}
