.fondo-footer{
    background-color: rgba(0, 0, 0, .9);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #ffff;
}

.linea-estilo{
    border-bottom: 1px solid #ffff;
    border-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(7,164,134,1) 0%, rgba(0,212,255,1) 100%) 1;
    margin: 20px;
}

.tamanio-Icono{
    text-align: center;
    font-size: 30px;
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(7,164,134,1) 0%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.style-link{
    color:#ffff;
}

.linkedin{
    color: #ffff;
}



.linkedin a:hover{
    text-decoration: none;
}